{% extends "default/default.twig" %}

{% block content %}
{{ render(controller('index','menu'))|raw }}
<div>
<h1>Hello world!</h1>
</div>
{% endblock %}  



{% block menu %}
{{ menu }}
{% endblock %}           
