settings:
    default_lang_iso: en
    timezone: Europe/Lisbon
    page_suffix: html
    email_admin_email: develop@example.com
    email_admin_name: TLAB
    page_template: default
debug:
    display_errors: true
    log_errors: true
    log_file: error.log
    